<div class="container">
    <% if (name) { %>
        <h1>Nazwa ligi: <%= name %></h1> <!-- Użycie zmiennej przekazanej w kontrolerze -->
        <p><b>Opis:</b> <%= description %></p>
        <p><b>Wybrana liga:</b> <%= selectedLeague %></p>
        
        <% let exist=false %>
        <p><b>Gracze:</b> 
            <!-- Wylistowanie graczy należących do ligi -->
            <% players.forEach(player => { %>     
                <%= player.nick %>,

                <!-- Sprawdzamy czy user jest zalogowany -->
                <% if (user) { %> 

                    <!-- Jeśli zalogowany user należy do ligi to zwracamy wartość true -->
                    <% if (player.nick == user.nick) { %> 
                        <% exist=true %>
                    <% } %>

                <% } %>                
            <% }); %>
        </p>

        <p><b>Maksymalna liczba graczy:</b> <%= playersCount %></p>        
        <p><b>Dostępność:</b> <%= privacy %></p>        

        <!-- Jeśli liga jest publiczna lub jestes wlascicielem ligi to pokaż kod -->
        <% if (privacy == 'publiczna' || owner.nick == user.nick) { %>
            <p><b>Kod ligi:</b> <%= code %></p>
        <% } %>

        <p><b>Właściciel ligi:</b> <%= owner.nick %></p>

        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nick</th>
                <th scope="col">Punkty</th>
              </tr>
            </thead>
            <tbody>
                <% for(const [index, player]  of players.entries()){ %>
                    <!-- Suma punktów z każdego typu -->
                    <% let userPoints = 0 %>                
                    <tr>
                        <th scope="row"><%= index + 1 %></th>
                        <td><%= player.nick %></td>                        
                        
                        <% for(const score of scores){ %>                            
                            <!-- Podliczanie punktów dla konkretnego gracza -->
                            <% if(score.user.nick == player.nick) { %>                                              
                                <% userPoints += score.points %>
                            <% }; %>                              
                        <%};%>
                        
                        <td><%= userPoints %></td>     
                    </tr>
              <% }; %>
            </tbody>
          </table>

        <!-- Sprawdzamy czy user jest zalogowany -->
        <% if (user) { %> 

            <!-- Sprawdzamy czy user należy do ligi, jeśli tak to może wytypować wyniki -->
            <% if (exist) { %> 
                <% let betted=false %>
                <form method="POST" class="text-center pb-5">                    
                    <h3><%= resultsHeader %></h3>
                    <h6><%= gameweekHeader %></h6>

                    <% for(const [index, match]  of matches.entries()){ %>
                        <div class="row mb-3">
                            <div class="col-4">
                                <label for="form-label" class="">  
                                    <!-- Jeśli user już wytypował wyniki to ustaw betted=true -->
                                    <% if (singleScore[index]?.homeTeam) { %>
                                        <%= singleScore[index].homeTeam %>
                                        <% betted=true %> 
                                    <% } else { %> 
                                        <%= match.homeTeam %>
                                    <% } %> 
                                </label>
                            </div>
                            <div class="col-1">
                                <input type="number" 
                                name="homeTeamScore" 
                                min="0" max="20" 
                                value="<%= singleScore[index]?.scoreHome ? singleScore[index].scoreHome : 0 %>"
                                class="form-control" required> 
                                <!-- value: Jeśli są wytypowane wyniki to pokaż wynik, a jak nie to domyślnie 0 -->                                
                            </div>

                            <div class="col-2">:</div>

                            <div class="col-1">
                                <input type="number" 
                                name="awayTeamScore" 
                                min="0" max="20"
                                value="<%= singleScore[index]?.scoreAway ? singleScore[index].scoreAway : 0 %>"
                                class="form-control" required> 
                            </div>                                    
                            <div class="col-4">
                                <label for="form-label" class="">
                                    <%= singleScore[index]?.awayTeam ? singleScore[index].awayTeam : match.awayTeam %>
                                </label>
                            </div>           
                        </div>
                    <% }; %>

                    <!-- Jeśli user już wytypował to schowaj przycisk -->
                    <% if (!betted) { %> 
                        <button class="btn btn-success">Wytypuj</button>
                    <% } %>  
                </form>
            <% } %>     

        <% } %> 
    <% } else { %>
        <h1>Nie ma takiej ligi!</h1>
    <% } %>
</div>