<div class="container">
    <div class="card card-body border-secondary bg-light mb-5">
        <h1 class="text-center">Lista lig:</h1>

    <% if (user) { %>
    <a href="/zalogowany/ligi/dodaj" class="button btn-success mb-3">Dodaj nową ligę!</a>
    <% } %>

    <!-- Aby sort nie gryzł się z query w slug to trzeba to zrobić w jednym formularzu -->
    <form method="GET">
        <%- include('partials/search') %>

        <div class="row">
            <div class="col-12 col-md-3 mb-5">
                <%- include('partials/filters') %>
            </div>
            <div class="col-12 col-md-9">
                <!-- Wylistowanie istniejących lig -->
                <% leagues.forEach(league => { %>
                <!-- Zmienna exist pomaga ustalić czy user należy do danej ligi -->
                <% let exist=false %>
                <div class="card text-black border-secondary mb-3">
                    <div class="card-body">
                        <p class="h3 mb-3"><%= league.name %></p>

                        <!-- Jeśli nie ma opisu to nie pokazuj go -->
                        <% if (league.description) { %>
                            <p><b>Opis:</b> <%= league.description %></p>
                        <% } %> 

                        <p><b>Maksymalnie graczy:</b> <%= league.playersCount %></p>
                        <!-- .? - sprawdzenie czy do ligi jest przypisany user -->
                        <p><b>Właściciel ligi:</b> <%= league.owner?.nick %></p>

                        <p><b>Gracze:</b> 
                            <!-- Wylistowanie graczy należących do ligi -->
                            <% league.players.forEach(player => { %> 
                                <!-- Aby wyróżnić zalogowanego usera wśród członków, najpierw musimy sprawdzić czy jest zalogowany -->
                                <% if (user) { %>    

                                    <!-- Jeśli zalogowany user należy do ligi to wyróżniamy jego nick -->
                                    <% if (player.nick == user.nick) { %>                                        
                                        <b class="text-success" ><%= player.nick %>,</b>

                                        <!-- Zwracamy true, informując niżej, że user należy do ligi -->
                                        <% exist = true %>
                                    <% } else { %>
                                        <!-- Jeśli nie zrobimy tutaj else to wyświetli tylko zalogowanego usera w graczach -->
                                        <%= player.nick %>, 
                                    <% } %> 
                                <% } else { %>                                    
                                    <%= player.nick %>,                                    
                                <% } %>                                
                            <% }); %>
                        </p>
                        
                        <a href="/ligi/<%= league.slug %>" class="button btn-primary">Zobacz</a>
                        <!-- Jeśli user jest zalogowany -->
                        <% if (user) { %>

                            <!-- Jeśli user należy już do ligi to nie pokazuj przycisku Dołącz, a pokaż Opuść -->
                            <% if (!exist) { %>

                                <!-- Jeśli liga jest prywatna to nie pokazuj przycisku Dołącz -->
                                <% if (league.privacy == 'publiczna') { %>

                                    <!-- Warunek czy w lidze jest jeszcze miejsce -->
                                    <% if (league.playersCount > league.players.length) { %> 
                                        <a href="/zalogowany/ligi/<%= league.slug %>/dolacz" class="button btn-success">Dołącz</a>
                                    <% } %>
                                <% } %>
                            <% } else { %>
                                <!-- Jeśli liga jest prywatna to user może opuścić ligę na bieżącej stronie z ligami -->
                                <a href="/zalogowany/ligi/<%= league.slug %>/opusc" class="button btn-danger">Opuść</a>
                            <% } %>
                            
                            <!-- Sprawdzamy czy user jest właścicielem ligi -->
                            <% if (league.owner.nick == user.nick) { %>
                                <a href="/zalogowany/ligi/<%= league.slug %>/edytuj" class="button btn-warning">Edytuj</a>
                                <a href="/zalogowany/ligi/<%= league.slug %>/usun"
                                    onclick="return confirm('Czy jesteś pewien?')" class="button btn-dark">Usuń</a>
                            <% } %>
                        <% } %>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>

        <%- include('partials/pagination') %>
    </form>        
    </div>    
</div>