<!-- Formularz można użyć na kilku stronach. Po co go edytować w każdym miejscu, wystarczy raz -->
<div class="bor-div">
	<div class="container justify-content-center login-size text-center">
		<form method="POST">
			<div class="mb-3">
				<label for="" class="form-label">Nazwa ligi *</label>
				<!-- niżej: Dzięki value, po złym wypełnieniu pól, wartości z pól nie znikają -->
				<input
					type="text"
					name="name"
					maxlength="30"
					value="<%= form.name %>"
					class="form-control <%= errors?.name ? 'is-invalid' : '' %>"
					required
				/>
				<!-- sprawdzamy czy konkretny błąd tego pola istnieje, jeśli nie ma to wartość jest null i nie wchodzi do ifa -->
				<% if (errors?.name) { %>
				<div class="invalid-feedback"><%= errors.name.message %></div>
				<% } %>
			</div>

			<div class="mb-3">
				<label for="" class="form-label">Opis</label>
				<input
					type="text"
					name="description"
					maxlength="50"
					value="<%= form.description %>"
					class="form-control"
					placeholder="Maksymalnie 50 znaków."
				/>
				<% if (errors?.description) { %>
				<div class="invalid-feedback"><%= errors.description.message %></div>
				<% } %>
			</div>

			<% if (buttonText == 'Dodaj ligę') { %>
				<div class="mb-3">
					<label for="" class="form-label">Wybierz ligę *</label>
					<select class="form-select" name="selectedLeague">
						<option selected value="Premier League">Premier League</option>
						<option value="Bundesliga">Bundesliga</option>
						<option value="Serie A">Serie A</option>
						<option value="Liga Santander">Liga Santander</option>
					</select>
				</div>
			<% } %>

			<div class="mb-3">
				<label for="" class="form-label">Liczba graczy *</label>
				<input
					type="number"
					name="playersCount"
					min="0"
					max="20"
					value="<%= form?.playersCount ? form?.playersCount : 1 %>"
					class="form-control <%= errors?.playersCount ? 'is-invalid' : '' %>"
					required
				/>
				<% if (errors?.playersCount) { %>
				<div class="invalid-feedback"><%= errors.playersCount.message %></div>
				<% } %>
			</div>

			<div class="mb-3">
				<label for="" class="form-label">Dostępność *</label>				
				<select class="form-select" name="privacy">
					<option selected value="publiczna">Publiczna</option>
					<option value="prywatna">Prywatna</option>
				</select>				
			</div>

			<!-- Dodawanie kodu ligi będzie dostępne tylko podczas tworzenia ligi -->

			<div class="mb-3">
				<label for="" class="form-label">Kod do ligi *</label>
				<input
					type="text"
					name="code"
					maxlength="30"
					value="<%= form.code %>"
					class="form-control <%= errors?.code ? 'is-invalid' : '' %>"
					required
				/>
				<% if (errors?.code) { %>
				<div class="invalid-feedback"><%= errors.code.message %></div>
				<% } %>
			</div>

			<button class="button btn-success"><%- buttonText %></button>
		</form>

		<!-- powinno być " typeof errors !== 'undefined' ", ale mamy zmienną zdefiniowaną w view-middleware -->
		<% if (errors) { %>
		<div class="alert alert-danger mt-3 text-center">
			<!-- <ul>
                <% for (const key in errors) { %>
                    <li><%= errors[key].message %></li>
                <% } %>
            </ul> -->
			<!-- Możesz tak jak wyżej wyświetlić ponownie błędy napisane pod formularzem, ale skoro będą napisane czy konkretnym polu to niżej napiszemy tylko informację -->
			Popraw dane!
		</div>
		<% } %>
	</div>
</div>
